body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.myNavbar{
    background-color: #013369;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
    
}
